body {
    background-color: lightcyan;
}

.container {
    margin-top: 10%;
}

header {
    color: purple;
    font-family: verdana;
    font-size: 200%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
}

#exerciseText {
    font-size: 1.5em;
    padding: 5%;
}

input[type=text] {
    border-radius: 3px;
    width: 15%;
    border: grey 1px solid;
    padding: 5px 15px;
}

#submitButton {
    background-color: #4CAF50;
    color: white;
    padding: 5px 15px;
    margin: 8px 3px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#submitButton:hover {
    background-color: black;
}

#newExerciseButton {
    background-color: cornflowerblue;
    color: white;
    padding: 5px 15px;
    margin: 8px 3px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#newExerciseButton:hover {
    background-color: black;
}

#feedbackText {
    font-size: 1.2em;
}

.correct {
    color: #4CAF50;
}

.incorrect {
    color: red;
}

